extends layout

block content
  h1= title
  p Welcome to #{title}
  .row.banner
    .col-12
      small &nbsp; Find places to work with wifi near you!
  .row
    .col-12.col-md-8
      p.lead List Area
    .col-12.col-md-4
      p.lead Loc8r helps you find places when out and about!!
