extends layout

block content
  h1= title
  p Welcome to #{title}
  .row.banner
    .col-12
      small &nbsp; Find places to work with wifi near you!
      .card
        h4
          a.stretched-link(href='/location') Somasa
          small &nbsp
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
          span.badge.badge-pill.badge-warning.float-right 100m
        p.address IIT Dharwad, Dharwad, Karnataka
        .facilities
          span.badge.badge-warning Hot Drinks
          span.badge.badge-warning Samosa
          span.badge.badge-warning Wi-Fi
  .row
    .col-12.col-md-8
      p.lead List Area
    .col-12.col-md-4
      p.lead Loc8r helps you find places when out and about!!
