extends layout

block content
  .row.banner
    .col-12
      h1 Loc8r
        small &nbsp;Find places to work with wifi near you!
  .row
    .col-12.col-md-8
      .card
        h4
          a.stretched-link(href='/location') Somasa
          small &nbsp
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
          span.badge.badge-pill.badge-danger.float-right 100m
        p.address IIT Dharwad, Dharwad, Karnataka
        .facilities
          span.badge.badge-warning Hot Drinks
          span.badge.badge-warning Samosa
          span.badge.badge-warning Wi-Fi
      .card
        h4
          a.stretched-link(href='/location') Roti Ghar
          small &nbsp
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
          span.badge.badge-pill.badge-danger.float-right 1 Km
        p.address IIT Dharwad, Dharwad, Karnataka
        .facilities
          span.badge.badge-warning Pure Veg
          span.badge.badge-warning TV
          span.badge.badge-warning Wi-Fi
      .card
        h4
          a.stretched-link(href='/location') Pit Stop
          small &nbsp
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
          span.badge.badge-pill.badge-danger.float-right 3 Km
        p.address IIT Dharwad, Dharwad, Karnataka
        .facilities
          span.badge.badge-warning Non-Veg
          span.badge.badge-warning Barbeque
          span.badge.badge-warning Wi-Fi
    .col-12.col-md-4
      p.lead Looking for wifi and a seat? Loc8r helps you find places to work when out and about. Perhaps with coffee, cake or a pint? Let Loc8r help you find the place you're looking for!
